*{
  margin: 0;
  padding: 0;
}


body {
  height : 100vh;
  background-image: linear-gradient(to right top, #c0247d, #b33894, #a249a7, #8b57b7, #7064c2, #6e6ac2, #6d6fc2, #6d74c1, #8177bb, #907bb4, #9b80af, #a386aa);
  
 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
